body {background-color:rgb(221, 238, 222)}

p {color:green;font-size: 22px;
border: 5px solid turquoise;
background-color:rgb(12, 67, 150)}
h1 {color:mediumorchid;text-decoration:underline;}
h2 {color:mediumturquoise;text-decoration:bold;}

