body {background-color:rgb(154, 205, 155)}

p {color:green;font-size: 22px;
border: 5px solid turquoise;
background-color:rgb(12, 67, 150)}
h1 {color:pink;text-decoration:underline;}
h2 {color:gold;text-decoration:bold;}

