*{box-sizing: border-box}
body
{background-color: darkslategray;
transition: background-color;}

img 
{max width:100%}

.box {background-color: gainsboro;
    width: 100px;
    transition: background-color all .5s;

width: 50vh;
font-size: 20px;}

.box:hover {background-color: paleturquoise;
}

.mobile-only {
    background-color: midnightblue;
    margin: 20px;
    height: 30px;
    display: none;
}

@media screen and (max-width:900px){
    body{ 
        background-color: mediumslateblue;
        font-size: 30px;
        padding: 30px;
    }
}
 @media screen and (  max-width: 600px;) 
  
  { body{ background-color:green;
    font-size: 30px;
    padding: 30px;
 }}

 @media screen and (  max-width: 300px;) 
  {
 body{ background-color:red;
    font-size: 30px;
    padding: 30px;
    .mobile-only:block;
}}