*{box-sizing: border-box}
@font-face {
    font-family: 'Anybody';
    src: link(screensaver/Anybody-SemiBoldItalic.ttf)
}

img 
{max-width:100%}

body{
    background-color: mistyrose;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
 
}
.container
         {display: flex;
             align-items: center;
             width: 100vw;
             height: 100vh ;
             justify-content: center;
             position: fixed;
             flex-direction: column;
             margin: auto;
          }
         

.block

     
{background-color: mistyrose;
    animation: make 10s alternate-reverse infinite;
    animation-delay: 5s;
    

    text-align: center;
    justify-items:center;
    flex-direction: row;
    display:flex ;
    margin: auto;}
    


@keyframes make{
  
    0% {color:rgb(233, 128, 233);
     font-size:15vw;
        font-family: 'Helvetica Narrow Bold', sans-serif;
        -webkit-text-stroke: 2px rgb(133, 53, 147);}
   
    5%{color: rgb(238, 122, 122);
        font-family:'Arial Narrow', sans-serif;
     font-size: 20vw;
     -webkit-text-stroke: 5px rgb(147, 53, 59);}
  
    
    10%{color: rgb(233, 31, 65);
        font-family:'Helvetica', sans-serif;
        -webkit-text-stroke: 10px rgb(239, 176, 113);
            font-size: 15vw;}
    
    15%{color:rgb(238, 122, 126);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
            font-size: 15vw;
    }

        
    20%{color:rgb(114, 114, 244);
        font-family:Arial , serif ;
        -webkit-text-stroke: 2px rgb(224, 150, 173);
        font-size:15vw;
    }

    25%{color: rgb(9, 9, 174);
        font-family:Verdana, Geneva, Tahoma, sans-serif sans-serif;
            font-size:20vw;
        text-transform: lowercase;}
  
        30%{color: rgb(95, 95, 232);
            font-family:'Arial Narrow', sans-serif;
                font-size:20vw;
            text-transform: lowercase;}
        
    35%{color: rgb(57, 101, 163);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:20vw;
        text-transform: lowercase;}

    
        40%{color: rgb(32, 93, 70);
            font-family:'Geneva', sans-serif;
                font-size:20vw;
            text-transform: lowercase;}

            45% {color: rgb(101, 177, 121);
                font-family:'Arial Narrow', sans-serif;
                    font-size:20vw;
                text-transform: lowercase;}
                
                50%{color: rgb(54, 97, 60);
                    font-family:'Arial Narrow', sans-serif;
                        font-size:23vw;
                        text-shadow: 2px 2px rgb(119, 141, 141);
                    text-transform: lowercase;} 
    
                    55%{color: rgb(140, 188, 132);
                        font-family:'Arial Narrow', sans-serif;
                            font-size:20vw;
                        text-transform: lowercase;} 
        
    
                        60%{color: rgb(117, 130, 74);
                            font-family:'Arial Narrow', sans-serif;
                                font-size:20vw;
                                text-shadow:  5px 0px lightgreen, 10px 10px rgb(89, 132, 89),;
                            text-transform: lowercase;} 
            
    
                            65%{color: rgb(207, 240, 158);
                                font-family:'Arial Narrow', sans-serif;
                                    font-size:20vw;
                                    text-shadow: 20px 20px rgb(73, 89, 137);
                                text-transform: lowercase;} 
                
                                70%{color: rgb(165, 113, 44);
                                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                        font-size:20vw;
                                        text-shadow:  15px 15px rgb(27, 34, 88);
                                    text-transform: lowercase;} 
                    
                                75%{color:rgb(233, 193, 100);
                                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                    font-size:20vw;
                                    text-shadow:  10px 10px rgb(107, 151, 180);
                                text-transform: lowercase;} 

        80%{color: rgb(238, 128, 73);
            font-family: monospace;
                font-size:20vw;
                text-shadow:  -10px -10px rgb(144, 33, 75);
            text-transform: lowercase;} 

            85%{color: rgb(240, 198, 158);
                font-family:'Georgia', serif;
                    font-size:22vw;
                text-transform: lowercase;} 

                90%{color: rgb(246, 94, 94);
                    font-family:'Georgia', serif;
                        font-size:18vw;
                    text-transform: lowercase;
                    text-shadow:  -10px -10px rgb(79, 56, 101);} 
    
                    95%{color: rgb(240, 158, 158);
                        font-family:'Cochin', serif;
                            font-size:20vw;
                            text-shadow:  -30px -30px rgb(138, 53, 153));
                        text-transform: lowercase;} 

                        100%{color: rgb(232, 136, 210);
                            font-family:Georgia, 'Times New Roman', Times, serif;
                                font-size:20vw;
                            text-transform: lowercase;} 
}

         
