*{box-sizing: border-box}


img 
{max width:100%}

body
{ background-color: thistle;
padding: 200px;
padding-top: 50px;
}

h1
{ font-family:monospace;
font-size: 17px;}

h2 { font-family: monospace;
font-size: 23px;
}

p {font-family: Verdana, Geneva, Tahoma, sans-serif;}