
body{background-color: rgb(232, 219, 243);}
p {font-size: 22px;
    font-family: Arial;}
h1 {color:rgb(18, 18, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;}
h2 {color:rgb(23, 22, 22);text-decoration:bold;}

