


    * {
        box-sizing: border-box;
      }
      

body {
    background-color: rgb(248, 204, 113);
    /* background-color: rgb(201, 192, 172); */
    background-color: rgb(56, 81, 121);

}


   

  




      .column {
        float: left;
        width: 25%;
        position: relative;
        border: 10px solid  rgb(56, 81, 121); 
      }
      
      .column img {
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        backface-visibility:10% ;
      }

      .page {
        margin: 100px;
      }
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        bottom: 0;

        background: rgba(56, 81, 121,.5); 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 15px;
        text-align: center;
        font-family: "Inter", sans-serif;
        color:rgb(201, 192, 172) ;
        padding-bottom: 15px ;
        padding-top:10px ;

      }
      
      .column:hover .overlay {
        opacity: 1;
      }
      