*{box-sizing: border-box}

p {background-color: lightblue; padding: 10px;}
img 
{max width:100%}

.more-specific {background-color: aquamarine;padding:20px}
.square{
    background-color: pink;
    border: 60px;
    height:100px;
    width: 100px;
    margin:20px 5px;
}
.relative {
    background-color:aliceblue;
    position:relative;
    top:40px;
    left:40px;

}
.fixed {
    background-color:aqua;
    position:fixed;
    bottom:40px;
    left:70px;
}

.container{
    background-color: beige;
    height:500px;
    width: 700px;
    position: relative;
}
.absolute {
    background-color: blue;
    position: absolute;
    bottom:0;
    right:0;
    margin:0;

}